body {
  background-color: var(--background);
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: clamp(16px, 0.393rem + 3.04vw, 50px) auto;
  border-radius: 10px;
  max-width: 1400px;

  @include mobile() {
    width: calc(100vw - 30px);
  }
}

.content {
  padding: 0 40px 60px;

  @include mobile() {
    padding: 0 clamp(20px, 0.357rem + 4.46vw, 40px) 60px;
  }
}

a {
  color: black;
}
