@import '@/assets/scss/main.scss';

.section {
  margin-bottom: 20px;
  &__title {
    margin-bottom: 35px;

    font-family: var(--font-bold);
    font-size: 32px;
    letter-spacing: 0.01em;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 35px;
    justify-items: center;

    @media (max-width: 1400px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1090px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 620px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
