.order {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;

  &__total {
    font-family: var(--font-regular);
    font-size: 22px;
    letter-spacing: 0.01em;

    &-counter {
      font-family: var(--font-bold);
    }

    &-price {
      font-family: var(--font-bold);
      color: var(--text-accent);
    }
  }
}

.cart-controls {
  display: flex;
  justify-content: space-between;

  font-size: 16px;

  &__btn-return {
    display: flex;
    padding: 18px 28px;
    border-radius: 30px;
    border: 2px solid #d3d3d3;

    align-items: center;
    gap: 14px;
    background-color: #ffffff;
    font-family: var(--font-regular);
    color: #d3d3d3;

    &:hover {
      transition: all 0.2s ease-in;
      border: 2px solid #b0b0b0;
      color: #b0b0b0;
    }

    &:hover .cart-controls__arrow-left {
      transition: stroke 0.2s ease-in;
      stroke: #b0b0b0;
    }
  }

  &__btn-order {
    padding: 18px 42px;
    border-radius: 30px;
    border: 2px solid var(--button-accent);

    background-color: var(--button-accent);
    font-family: var(--font-bold);
    color: #ffffff;

    &:hover {
      transition: background-color 0.2s ease-in;
      background-color: #ff8234;
    }
  }
}
